/* base.css — шрифти, базові стилі body, h1,h2... */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light);
  color: #222;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #111;
}
p { line-height: 1.6; }
a { text-decoration: none; }
